* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #8e8f92;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 10vh;
    background-color: #3c3e44;
    border-bottom: 3px rgb(192, 89, 89) solid;
}

.sdlg {
    width: 70px;
    height: 60px;
    padding-left: 10px;
}

.item-ul {
    padding: 0 20px;
    font-size: 1.2rem;
    display: inline;
}

.a-ul {
    text-decoration: none;
    color: #fff7e1;
}

.contador-carrito {
    display: none;
    position: absolute;
    right: 15px;
    top: 33px;
    border-radius: 50px;
    padding: 2px 5px;
    background-color: #ff0000;

}

#ver-carrito {
    width: 50px;
    font-size: 1.5rem;
}

.nosotros {
    width: 90vw;
    height: 90vh;
    display: flex;
    margin: auto;
}

.article-nosotros {
    min-width: 300px;
    max-width: 800px;
    color: #fff7e1;
    background-color: #3c3e44;
    padding: 30px;
    border-radius: 5px;
    margin: auto;
}

.article-nosotros>h2 {
    text-decoration: underline;
    margin-bottom: 10px;
    font-size: 2.5rem;
}

.article-nosotros>p>span {
    background-color: rgb(168, 75, 75);

}

.ver-platos {
    font-size: 2rem;
    min-width: 300px !important;
    max-width: 400px;
    height: 50px !important;
    padding: 0 10px 10px 10px !important;
}

.ver-platos>a {
    color: #fff7e1;
    text-decoration: none;
}

.grid-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit,
            minmax(275px,
                1fr));
    align-items: center;
    justify-items: center;
    gap: 20px;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #3c3e44;
    color: #fff7e1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}


.agregar-carrito {
    width: 55%;
    height: 30px;
    background-color: rgb(212, 95, 95);
    border: none;
    border-radius: 20px;
    margin: 5px 0;
    transition: all 0.3s;
    cursor: pointer;
}

.agregar-carrito:hover, .delete:hover, .btn-limpiar:hover, .btn-finalizar:hover {
    color: #fff7e1;
    background-color: rgb(168, 75, 75);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.agregar-carrito:active, .delete:active, .btn-limpiar:active, .btn-finalizar:active {
    color: #fff7e1;
    background-color: rgb(252, 175, 175);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.precio {
    width: 100%;
    text-align: center;
    background-color: #252527;
}

img {
    width: 250px;
    height: 170px;
}

span {
    display: inline;
}

.info-comida {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}

footer {
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: #3c3e44;
    border-top: 3px rgb(192, 89, 89) solid;
    margin-top: 24px;
}

.section-footer {
    margin: auto;
    color: #fff7e1;
}

/* Estilos del modal */

.modal-container {
    max-height: 90vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff7e1;
    background: #53545a;
    border: 3px rgb(192, 89, 89) solid;
    border-radius: 10px;
    display: none;
    z-index: 999;
}

.header-modal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px rgb(192, 89, 89) solid;
    padding: 15px;
}

.cerrar-modal {
    cursor: pointer;
}

.container-platos {
    overflow-y: auto;
}

.flex-modal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-bottom: 2px rgb(192, 89, 89) solid;
    padding: 10px;
}

.flex-modal>* {
    width: 80px;
    font-size: 1.2rem;
}

.flex-modal:nth-last-child(1) {
    border: 0px;
}

.img-modal {
    width: 150px;
    height: 100px;
}

.suma,
.resta {
    cursor: pointer;
    font-weight: bold;
}

.suma {
    padding-right: 10px;
}

.resta {
    padding-left: 10px;
}

.delete {
    width: 90px;
    height: 50px;
    background-color: rgb(212, 95, 95);
    border: none;
    border-radius: 3px;
    transition: all 0.3s;
    font-size: 0.9rem;
    cursor: pointer;
}

.modalFooter {
    border-top: 3px rgb(192, 89, 89) solid;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-finalizar,
.btn-limpiar {
    margin: 6px 6px 6px 0;
    padding: 3px;
    background-color: rgb(212, 95, 95);
    border: none;
    border-radius: 2px;
    transition: all 0.3s;
    cursor: pointer;
}

.cantidad {
    width: 180px;
}
@media (max-width: 415px){
    .modal-container{
        width: 80%;
    }

    .flex-modal{
        flex-direction: column;
    }

    .cantidad {
        width: 180px;
    }
}

@media (min-width: 415px){
    .flex-modal{
        flex-direction: row;
    }
    .modal-container{
        width: 80%;
    }
}